extends ./../../layouts/header.pug


block title
    title= title 


block cssLink
    link(rel="stylesheet", href="/css/signIn.css")


block jsScript
    script(src="/js/signIn.js" defer) 


block bodyContent
    .signIn-section
        .wrapper
            .signIn-wrapper
                div.social-icon
                    i.fab.fa-twitter

                h2 Create a new password

                form(action='/createNewPassword', method="post")
                    label(for="username") password

                    .user-input 
                        i.user-icon.fas.fa-user
                        input#username(type="text", name="password"  class="form-control" , value=user.password)
                    
                    if error.password  
                        p.error.username-error #{error.password.msg}



                    label(for="username") confirm password
                    .user-input 
                        i.user-icon.fas.fa-user
                        input#username(type="text", name="confirmPassword"  class="form-control" , value=user.confirmPassword)

                        input(type="hidden", name="otpId" value=otp.otpId)

                        input(type="hidden", name="otp" value=otp.otp)
                    
                    if error.username 
                        p.error.username-error #{error.confirmPassword.msg} 



                    input(type="submit", value="Save and SignIn" class="form-control signIn-btn")

                    div.footer_link
                        p.disclaim.mt-3 Need to login? 
                            a(href='/signIn') Login here