extends ./../../layouts/header.pug


block title
    title= title 


block cssLink
    link(rel="stylesheet", href="/css/signIn.css")


block jsScript
    script(src="/js/signIn.js" defer) 


block bodyContent
    .signIn-section
        .wrapper
            .signIn-wrapper
                div.social-icon
                    i.fab.fa-twitter

                h2 Sign in to Twitter Clone

                form(action='/signIn', method="post")
                    label(for="username") User Name or Email

                    .user-input 
                        i.user-icon.fas.fa-user
                        input#username(type="text", name="username"  class="form-control" , value=user.username || "hasan19")
                    
                    if error.username 
                        p.error.username-error #{error.username.msg} 


                    label(for="password")  Password

                    .user-input 
                        i.user-icon.fas.fa-lock
                        input#password(type="password", name="password"  class="form-control"  value=error.password ? "": (user.password || "Hasan@1119"))
                    
                    if error.password 
                        p.error.username-error #{error.password.msg} 

                    input(type="submit", value="Sign In" class="form-control signIn-btn")

                p.disclaim.mt-3 New User? 
                    a(href='/signup') sign up here

                p.disclaim.mt-3 
                        a(href='/resetPassword') Forgot Password?